{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}
  
<div class="row mt-5 text-center">
  <div class="col">
    <h1>Welcome back, {{ user.username }}</h1>
    <small>
      <a href="{% url 'profile' user.pk %}">Edit Profile</a>
    </small>
  </div>
</div>

<section class="row mt-3">
  <div class="col-12 text-right">
    <a href="{% url 'newtree' %}">
      <button type="button" class="btn btn-lg btn-info">Sell Tree</button>
    </a>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Trees you're selling</h2>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Tree</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Edit</th>
        </tr>
      </thead> 
      <tbody>
        {% for tree in trees_for_sale %}
          <tr>
            <td>{{tree.name}}</td>
            <td>{{tree.description}}</td>
            <td>{{tree.price}}</td>
            <td><a href="{% url 'edit_tree' tree.pk %}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<section class="row mt-3">
  <div class="col-12">
    <h2>Transactions</h2>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Tree</th>
          <th scope="col">Bought / Sold</th>
          <th scope="col">Date</th>
          <th scope="col">Price</th>
        </tr>
      </thead> 
      <tbody>
        {% for transaction in transactions %}
          {% if transaction.sale == 'Sold' %}
            <tr class="table-success">
          {% else %}
            <tr class="table-info">
          {% endif %}
              <td>{{ transaction.tree_name}}</td>
              <td>{{ transaction.sale }}</td>
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.price }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endif %}

{% endblock content %}