{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}
  
<div class="row mt-5 text-center">
  <div class="col">
    <h1>Welcome back, {{ user.username }}</h1> <!-- Display name or username -->
    <small>
      <a href="{% url 'profile' %}">Edit Profile</a>
    </small>
  </div>
</div>

<section class="row mt-3">
  <div class="col-12 text-right">
    <button type="button" class="btn btn-lg btn-info">Sell Tree</button>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Trees you're selling</h2>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Tree</th>
          <th scope="col">Date</th>
          <th scope="col">Price</th>
        </tr>
      </thead> 
      <tbody>
        <tr>
          <td>Juniper</td>
          <td>7/8/20</td>
          <td>$150</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="row mt-3">
  <div class="col-12">
    <h2>Transactions</h2>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Tree</th>
          <th scope="col">Bought / Sold</th>
          <th scope="col">Date</th>
          <th scope="col">Price</th>
        </tr>
      </thead> 
      <tbody>
        <tr class="table-info">
          <td>Juniper</td>
          <td>Bought</td>
          <td>7/8/20</td>
          <td>$150</td>
        </tr>
        <tr class="table-success">
          <td>Blask Pine</td>
          <td>Sold</td>
          <td>7/7/20</td>
          <td>$200</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

{% endif %}

{% endblock content %}