{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
  <div class="col-12">
    <h1 class="text-center">Marketplace</h1>
  </div>
</div>

<section class="mt-5">
  <div class="row row-cols-1 row-cols-md-3">
    
      {% for tree in object_list %}
        {% if tree.sold == False %}
          <div class="col mb-4">
            <div class="card">
              <img src="{{ tree.picture.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ tree.name }}</h5>
                <p class="card-text">{{ tree.description }}</p>
              </div>
              <div class="card-footer">
                <p>Price: ${{ tree.price }}</p> 
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

  </div>
</section>

{% endblock content %}
