body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #393939;
  color: white;
  padding: 2em;
}

footer a {
  color: #ccc
}

footer a:hover, 
footer a:focus,
footer a::selection {
  color: green;
}