body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
    Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #393939;
  color: white;
  padding: 2em;
}

footer a {
  color: #ccc;
}

footer a:hover,
footer a:focus,
footer a::selection {
  color: green;
}

nav ul li a {
  color: green;
  font-size: 1.2rem;
}

nav ul li a:hover,
nav ul li a:focus {
  color: darkgreen;
}

.underline-link:hover,
.underline-link:focus {
  text-decoration: underline !important;
}

#tree-card {
  border-radius: 5%;
  padding: 2em;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

#tree-card img {
  border-radius: 1rem;
}

#tree-desc {
  font-size: 1.2rem;
}
