{% extends 'layout.html' %}
{% block title %}
    Home
{% endblock title  %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Current Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td>${{total}}</td>
        </tr>
    </tfoot>
    <tbody>
    {% for stock in stocks %}
        <tr>
            <td>{{stock.0}}</td>
            <td>{{stock.1}}</td>
            <td>{{stock.2}}</td>
            <td>{{stock.3}}</td>
            <td>${{stock.4}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="4">CASH</td>
            <td>${{ cash }}</td>
        </tr>
    </tbody>
</table>
{% endblock main %}